#
# application.yml — главный конфигурационный файл Spring Boot.

server:
  port: 8080

spring:
  application:
    name: bank-card-management

  datasource:
    url: jdbc:postgresql://localhost:5432/bank_rest
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
